.myclass {
    background-color: black;
}

button {
    color: darkred
}

#inputA {

    border: whitesmoke 1px solid;
}

input[type="number"]{
    border-radius: 1rem;
}

h1 {
    
    color: whitesmoke
}

.title
{color:rgb(218, 218, 218); 
    font-family:'Amaranth', 
    sans-serif;
}

.pageContent {
    bottom: 20%;
    left: 13%;
    position: absolute;
}

.logo {
    left: 5%;
    bottom:85%;
    position: absolute;
}

.pagetitle {
    top: 20%;
    left: 5%;
    position: absolute;
    color:white
}

.stats {
    bottom: 5%;
    right: 5%;
    position: absolute;
}

.commentbox {
    bottom: 25%;
    right: 5%;
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
}

.yourcomments {color:rgb(218, 218, 218); 
    font-family:'Amaranth', 
    sans-serif;
    font-size: 12px;
}

.opacity{
    filter: alpha(opacity=70);
  opacity: 0.7;
}

.TColour{
    color: white;

}

.table1{
    left: 5%;
    background-color: rgb(20, 20, 20, 0.3);
}

  margin: 0;
  position: absolute;
  top: 65%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

  color:rgb(141, 140, 140)
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;